<% form_for @business do |f| %>
  <%= f.error_messages %>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Business Address:</h3>
    <%= f.text_field :address, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>City:</h3>
    <%= f.text_field :city, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>State:</h3>
    <%= f.text_field :state, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Zip Code:</h3>
    <%= f.text_field :zip, :class => "large_form" %>
  </p>
<!--  <p>
    <h3 style="margin:0;">Tags (separate with commas):</h3>
    <%= f.text_field :tag_list, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Description:</h3>
    <%= f.text_area :description, :class => "large_form", :style => "height:200px;" %>
  </p>
  <p>
	<h3 style="margin:0;">Upload Business Photo:</h3>
	<%= f.file_field :photo %>
  </p> -->

  <p><%= f.submit "Submit Business", :class => 'button', :style => "font-size:24px;" %></p>
<% end %>
