<% form_for @business, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
<% unless @business.address? %>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Business Address:</h3>
    <%= f.text_field :address, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>City:</h3>
    <%= f.text_field :city, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>State:</h3>
    <%= f.text_field :state, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Zip Code:</h3>
    <%= f.text_field :zip, :class => "large_form" %>
  </p>
<!--  <p>
    <h3 style="margin:0;">Tags (separate with commas):</h3>
    <%= f.text_field :tag_list, :class => "large_form" %>
  </p> -->

<% end %>

<% unless @business.url? %>
  <p>
    <h3 style="margin:0;">Business Website:</h3>
    <%= f.text_field :url, :class => "large_form" %>
  </p>
<% end %>

<% unless @business.photo.exists? %>
  <p>
	<h3 style="margin:0;">Upload Business Logo or Photo:</h3>
	<%= f.file_field :photo %>
	<p>
	<a href="http://www.google.com/images?hl=en&source=imghp&biw=1440&bih=747&q=<%= @business.name %>+logo&gbv=2&aq=f&aqi=g10&aql=&oq=" class="link" target="_blank" style="margin-top:15px;">Click here to search the web for the <%= @business.name %> logo.</a></p>
  </p>

  <p><%= f.submit "Submit Business", :class => 'button', :style => "font-size:24px;" %></p>
<% end %>

<% end %>
