<% form_for @business, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <h3 style="margin:0;">Name of Business:</h3>
    <%= f.text_field :name, :value => "#{@business_name}", :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Business Address:</h3>
    <%= f.text_field :address, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">City:</h3>
    <%= f.text_field :city, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">State:</h3>
    <%= f.text_field :state, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Zip Code:</h3>
    <%= f.text_field :zip, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Tags (separate with commas):</h3>
    <%= f.text_field :tag_list, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Description:</h3>
    <%= f.text_area :description, :class => "large_form", :style => "height:200px;" %>
  </p>
  <p>
	<h3 style="margin:0;">Upload Business Photo:</h3>
	<%= f.file_field :photo, :class => "large_form" %>
  </p>

  <p><%= f.submit "Submit Business", :class => 'button' %></p>
<% end %>
