<% title "Businesses" %>

<h2>Business Admin</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Type</th>
  </tr>
  <% for business in @businesses %>
    <tr>
      <td><%=h business.name %></td>
      <td><%=h business.address %></td>
      <td><%=h business.city %></td>
      <td><%=h business.state %></td>
      <td><%=h business.zip %></td>
      <td><%=h business.kind %></td>
      <td><%= link_to "View", business %></td>
      <td><%= link_to "Edit", edit_business_path(business) %></td>
      <td><%= link_to "Delete", business, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>