<% title "Businesses" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Description</th>
  </tr>
  <% for business in @businesses %>
    <tr>
      <td><%=h business.name %></td>
      <td><%=h business.address %></td>
      <td><%=h business.city %></td>
      <td><%=h business.state %></td>
      <td><%=h business.zip %></td>
      <td><%=h business.description %></td>
      <td><%= link_to "Show", business %></td>
      <td><%= link_to "Edit", edit_business_path(business) %></td>
      <td><%= link_to "Destroy", business, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Business", new_business_path %></p>
