<% title "Confirm Business Address" %>

<h2>Is this the correct address for this business?</h2>
<h3>Please help us keep MobHooks accurate and verify the correct address for the business you just submitted.</h3>

<p><%= @confirm_business.name %><br />
	<%= @confirm_business.address %><br />
	<%= @confirm_business.city%> <%= @confirm_business.state %>, <% @confirm_business.zip %>
</p>

<p><%= link_to "Yes this is the correct address for this business", @campaign, :class => "button" %></p>
<p><%= link_to "No the business address is different from above / I don't know", disconfirm_path, :class => "button" %></p>
