<% title "Edit Business" %>

<% if @business.kind == "local" %>

<% if @business.address == nil && @business.url == nil && !@business.photo.exists? %>
<h2>Earn up to 20 easy points now!</h2>
<% elsif @business.address ==  nil && (@business.url == "" || @business.url == nil) && @business.photo.exists? %>
<h2>Earn up to 15 easy points now!</h2>
<% elsif @business.address ==  nil && @business.url? && !@business.photo.exists? %>
<h2>Earn up to 15 easy points now!</h2>
<% elsif @business.address? && @business.url == "" && !@business.photo.exists? %>
<h2>Earn up to 10 easy points now!</h2>
<% elsif @business.address? && (@business.url? || @business.photo.exists?) %>
<h2>Earn up to 5 easy points now!</h2>
<% else %>
<h2>Earn up to 20 easy points now!</h2>
<% end %>



<ul>
<% unless @business.address? %><li>Enter the address for <%= @business.name%> and get 10 points!</li><% end %>
<% unless @business.url? %><li>Enter the website for <%= @business.name%> and get 5 points!</li><% end %>
<% unless @business.photo.exists? %><li>Upload the logo or storefront picture for <%= @business.name%> and get 5 points!</li><% end %>
</ul>

<%= render :partial => 'form' %>

<% if session[:campaign_continue] %>
<p>
  <%= link_to "Don't know this info? <br />Click here to skip to the campaign page.", skip_business_path, :business => session[:campaign_continue], :class => "button", :style => "float:right;text-align:center;" %>
</p>
<% end %>

<div class="clear"></div>

<% elsif @business.kind == "brand" || @business.kind == "chain" %>

<% if @business.url == nil and !@business.photo.exists? %>
<h2>Earn up to 10 easy points now!</h2>
<% elsif @business.url? || @business.photo.exists? %>
<h2>Earn up to 5 easy points now!</h2>
<% end %>

<ul>
<% unless @business.url? %><li>Enter the website for <%= @business.name%> and get 5 points!</li><% end %>
<% unless @business.photo.exists? %><li>Upload the logo or storefront picture for <%= @business.name%> and get 5 points!</li><% end %>
</ul>

<%= render :partial => 'brand' %>

<div style="float:right;">
<% if session[:campaign_continue] %>
<p>
  <%= link_to "Don't know this info? <br />Click here to skip to the campaign page.", skip_business_path, :business => session[:campaign_continue], :class => "button", :style => "text-align:center;float:right;margin-bottom:20px;" %>
</p>
<% end %>

<br />
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2919877323911591";
/* Mobhooks */
google_ad_slot = "6421093481";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="clear"></div>

<% else %>

Sorry you shouldn't be here!

<% end %>