<% title "#{h @business.name}" %>

<h2 style="margin:40px 0 0;"><%= "#{h @business.name}" %></h2>

<div style="float:left;width:370px;">

<p><%= image_tag @business.photo.url(:medium)%>
	
<% if @business.kind == "local" %>	
	<% if @business.address? %>
	<h3><a href="<%= @business.url %>" target="_blank"><%= @business.url %></a><br/><%=h @business.address %> <%=h @business.city %> <%=h @business.state %> <%=h @business.zip %></h3>
	<% if @business.url? && @business.photo.exists? %>
	<h3><a href="<%= @business.url %>" target="_blank"></h3>
	<% elsif @business.url? %>
	<h3><%= link_to "Click to upload business logo", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
	<% elsif @business.photo.exists? %>
	<h3><%= link_to "Click to upload business website", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
	<% else %>
	<h3><%= link_to "Click to add this businesses website and logo", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
	<% end %>
	<% else %>
	<h3><%= link_to "Click to enter this businesses address!", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
	<% end %>
<% else %>
<% if @business.url? && @business.photo.exists? %>
<h3><a href="<%= @business.url %>" target="_blank"></h3>
<% elsif @business.url? %>
<h3><%= link_to "Click to upload business logo", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
<% elsif @business.photo.exists? %>
<h3><%= link_to "Click to upload business website", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
<% else %>
<h3><%= link_to "Click to add this businesses website and logo", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
<% end %>
<% end %>	

	
<h3 class="button" style="text-align:center;"><%= link_to "Own this business? Click here!", :controller => "affiliates", :action => "new", :business_name => @business.name, :business_address => "#{@business.address} #{@business.city} #{@business.state} #{@business.zip}" %></h3>



</div>

<div style="float:left;margin-left:30px;">

<h2 style="margin:0;">Campaigns</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @business.campaigns } %>

</div>

<div class="clear"></div>