<% title "#{h @business.name}" %>

<h2 style="margin:40px 0 0;"><%= "#{h @business.name}" %></h2>

<div style="float:left;width:370px;">

<p><%= image_tag @business.photo.url(:medium)%>

<% if @business.address? %>
<h3><%=h @business.address %> <%=h @business.city %> <%=h @business.state %> <%=h @business.zip %></h3>
<% else %>
<h3><%= link_to "Click to enter this businesses address!", edit_business_path(@business), :class => "link", :style => "font-size:18px;" %></h3>
<% end %>

<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", businesses_path %>
</p>

</div>

<div style="float:left;margin-left:30px;">

<h2 style="margin:0;">Campaigns</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @business.campaigns } %>

</div>

<div class="clear"></div>