<% title "#{h @business.name}" %>

<h2 style="margin:20px 0 0;"><%= "#{h @business.name}" %></h2>

<div style="float:left">

<p><%= image_tag @business.photo.url(:medium)%>


<h3><%=h @business.address %> <%=h @business.city %> <%=h @business.state %> <%=h @business.zip %></h3>

<% unless @business.tag_list.empty? %>
	<h3>Tags:
			<% @business.tag_counts.each do |tag| %>
				<%= link_to tag.name, { :controller => 'campaigns', :action => 'index', :search => tag.name }, :class => "link", :style => "font-size:18px;" %>
			<% end %>
	</h3>
<% end %>

<h3><%=h @business.description %></h3>

<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", businesses_path %>
</p>

</div>

<div style="float:left;margin-left:30px;">

<h2 style="margin:0 0 -50px;">Campaigns</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @business.campaigns } %>

</div>

<div class="clear"></div>