<% title "#{h @business.name}" %>

<p><%= image_tag @business.photo.url(:medium)%>

<p>
  <strong>Address:</strong>
  <%=h @business.address %>
</p>
<p>
  <strong>City:</strong>
  <%=h @business.city %>
</p>
<p>
  <strong>State:</strong>
  <%=h @business.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%=h @business.zip %>
</p>
<% unless @business.tag_list.empty? %>
<p>
	<strong>Tags:</strong>
	<%= h @business.tag_list %>
</p>
<% end %>
<p>
  <strong>Description:</strong>
  <%=h @business.description %>
</p>

<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", businesses_path %>
</p>

<h2>Campaigns</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @business.campaigns } %>