<% form_for @profile, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <h3 style="margin:0;">Name:</h3>
    <%= f.text_field :name, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Your Zip Code:</h3>
    <%= f.text_field :zip, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Website:</h3>
    <%= f.text_field :website, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Favorite Quote:</h3>
    <%= f.text_field :quote, :class => "large_form" %>
  </p>

  <p>
	<h3 style="margin:0;">Upload a Photo of Yourself:</h3>
	<%= f.file_field :photo, :class => "large_form" %>
  </p>


  <p><%= f.submit "Submit Profile", :class => "button" %></p>
<% end %>
