<% title "Comments" %>

<h2>Comments for <%= @user.login %></h2>

<% if @comments.nil? %>
No comments!
<%= @user.login %>

<% else %>

<ul id="comments">

<% @comments.each do |c| %>
<li>
	<%= c.message %><br />
	<% @commenter = User.find(c.commenter_id) %>
	<%= link_to @commenter.login, user_path(@commenter) %>
	<%= c.created_at.to_date %>
</li>
<% end %>

</ul>

<% end %>

<% form_for @comment do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <p>
    <%= f.label :Write_a_new_comment %><br />
    <%= f.text_area :message %>
  </p>
  <p><%= f.submit %></p>
<% end %>