<% title "The Family" %>

<div style="float:left;">
<h2>Leaderboard</h2>
<ul id="leaderboard">
<% @leaderboard.each do |l| %>
	<li>
	<%= link_to "#{image_tag l.profile.photo.url(:thumb)}", user_path(l) %>
	<div class="info">
	<h3><%= link_to "#{l.login}", user_path(l) %></h3>
	<%= level(l) %><br />
	<%= l.points %> points
	</div>
	</li>
	<div class="clear"></div>
<% end %>
</div>

<div style="float:left;">
<h2>Recent Campaign Submissions</h2>
<%= render :partial=>'campaigns/list', :locals => { :campaign => @recent } %> 
</div>

<div class="clear"></div>