<% title "The Family" %>

<div style="float:left;">
<h2 id="leaderboard">Leaderboard</h2>
<ul id="leaderboard">
<% @leaderboard.each do |l| %>
	<li>
	<% unless l.profile.nil?%>
		<%= link_to "#{image_tag l.profile.photo.url(:thumb)}", user_path(l) %>
	<% else %>
		<%= image_tag "missing_profile.png" %>
	<% end %>
	<div class="info">
	<h3><%= link_to "#{l.login}", user_path(l) %></h3>
	<%= level(l) %><br />
	<%= l.points %> points
	</div>
	</li>
	<div class="clear"></div>
<% end %>
</div>

<div style="float:right;width: 600px;">
<h2 id="the_family">The Family</h2>
<p>You don’t have to whack anyone to be a part of dis family. All you needs to do is sign up and start submitting and sharing text (SMS/MMS) offers, clubs and contests that you sees or hears on the tv, radio, newspaper, magazines, Internet, restaurant & bar menus, etc. The little rat suckers are everywhere dese days and they can save you money and keep you in the know about announcements from your favorite brands and local businesses. They’re like your own personal informants...</p>
	
<p>As a member of THE FAMILY, you will earn points, badges and free stuff for submitting campaigns to the site, sharing campaigns you find on the site with friends, and other tasks. Earning points will allow you to climb the ladder in hierarchy of THE FAMILY. The member with the most points will be the Boss or Don of MobHooks. There will also be other levels that can be achieved as outlined below. All visitors will be able to view the leaderboard to see where members rank and what tasks they have accomplished. Each registered member will have their own profile page to show off their points, badges, awards, and rank.</p>

<h2>Ranks</h2>
<ol>
<li>Boss or Don – most points overall (only one at this level)</li>
<li>Underboss – second most points overall (only one at this level)</li>
<li>Consigliere – person that refers the most businesses that sign up to Mobhooks' SMS service (only one)</li>
<li>Capo – 5000 points (unlimited number at this level)</li>
<li>Soldier – 1000 points (unlimited number at this level)</li>
<li>Associate – every registered member is automatically an Associate</li>
</ol>
 
<h2>How to Earn Points</h2>

<ul>
  <li>Sign up to become a family member = <strong>100 pts</strong></li>
  <li>Optin to receive our newsletter = <strong>100 pts</strong> (not yet available)</li>
  <!-- ><li>Connect your account via Facebook connect = <strong>100 pts</strong></li> -->
  <li>Share campaigns on MobHooks with Facebook or Twitter = <strong>10 pts per share</strong></li>
  <li>Leave a review for a campaign = <strong>5 pts</strong> (max one review per campaign)</li>
  <li>Give thumbs UP/DOWN feedback   = <strong>1 pt</strong> (max one vote per campaign)</li>
  <li>Each time someone thumbs UP a campaign YOU submitted = <strong>1 pt</strong> (so tell your friends!)</li>
  <li>Refer a local merchant that signs up to MobHooks’ SMS service = <strong>1000 points</strong></li>
  <li>*Submit a campaign to MobHooks = <strong>100 pts**</strong></li>
  <li>*Add address info for a <strong>local</strong> campaign that <strong>you</strong> or <strong>someone else</strong> submitted = <strong>10 pts</strong></li>
  <li>*Add the website URL for <strong>any</strong> campaign that <strong>you</strong> or <strong>someone else</strong> submitted = <strong>5 pts</strong></li>
  <li>*Add the logo for <strong>any</strong> campaign that <strong>you</strong> or <strong>someone else</strong> submitted = <strong>5 pts</strong></li>

</ul>

<h2><u>PLEASE READ!</u></h2>
<p>*all campaigns, addresses, website URL’s, and images submitted will be verified by  MobHooks within 24 hours of submission although points and badges, if any, will be awarded immediately. Submitting <strong>any</strong> false information for a campaign will result in a double points deduction from your account on the first offense. In other words, if you submit a false campaign, you will get 200 points deducted from your account. If just the address is false, you would be deducted 20 points. You get the point. Second offense will result in a triple points deduction. Third offense will get you whacked, meaning you will be banned for life from MobHooks. We want the site to be helpful to all, so please help us keep all campaigns legit.</p>

<p><strong><u>**Submitting any campaigns, addresses, URL’s, or images that are considered pornographic or derogatory to any person or entity will result in automatic termination of account after just one offense. </u></strong></p>
</div>

<div class="clear"></div>