<% title "#{@user.login}'s Profile" %>

<h1 style="margin-bottom:0;"><%=h @user.login %></h1>

<div style="float:left;width:400px;">

<div id="profile">

<%= render :partial=>'users/image', :locals => { :user => @user } %>

<p><% if @user.profile.website %>
		<%= link_to @user.profile.name, @user.profile.website %><br />
	<% else %>
		<%=h @user.profile.name %><br />
	<% end %>
	<%=h @user.profile.sex %><br />
	<%=h @user.profile.zip %><br />
	<% if @user.profile.birthday %>
	  <%= age(@user.profile.birthday) %> years old<br />
	<% end %>
	<%=h @user.profile.quote %>
	<br />
	<br /> 
	<% if current_user == @user %>
		<%= link_to "edit info", edit_profile_path, :class => "link" %>
	<% end %>
</p>
</div>

<div class="clear"></div>

<h2 id="stats">Stats</h2>
<table id="stats">
<tr>
  <td><strong>Level:</strong></td>
  <td><%= level(@user) %></td>
</tr>
<tr>
  <td><strong>Points:</strong></td>
  <td><%=h @user.points %></td>
</tr>
<tr>
  <td><strong>Deals Submitted:</strong></td>
  <td><%=h @user.campaigns.count %></td>
</tr>
<tr>
  <td><strong>Deals Rated:</strong></td>
  <td><%=h @user.votes.count %></td>
</tr>
<tr>
  <td><strong>Deals Reviewed:</strong></td>
  <td><%=h @reviews.size %></td>
</tr>
<tr>
  <td><strong>Deals Downvoted:</strong></td>
  <td><%=h @downvoted %></td>
</tr>
<tr>
  <td><strong>Comments Made:</strong></td>
  <td><%=h @commented.size %></td>
</tr>

<tr>
  <td><strong>Badges:</strong></td>
</tr>
<tr>
  <td>
  <%= render :partial => "achievement" %>
  </td>
</tr>
<tr><td><%= link_to "view all badges", about_path, :class => "link" %></td></tr>
</table>

<h2 id="comments">Comments</h2>

<ul id="comments">

<% @user.comments.each do |c| %>
<li>
	<%= c.message %><br />
	<% @commenter = User.find(c.commenter_id) %>
	<%= link_to @commenter.login, user_path(@commenter) %>
	<span class="date"><%= c.created_at.to_date %></span>
</li>
<% end %>

</ul>

<% if current_user %>

<% form_for @comment do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <p>
    <%= f.text_field :message, :value => "Leave a New Comment...", :onfocus => "if (this.value == 'Leave a New Comment...') this.value = ''", :size => 44 %>
  </p>
  <p><%= f.submit "Leave Comment", :class => "button" %></p>
<% end %>

<% end %>

</div>

<h2 id="submitted_campaigns">Campaigns Submitted</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @user.campaigns } %>

<div class="clear"></div>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p> 


