<% title "#{@user.login}'s Profile" %>

<h2><%=h @user.login %></h2>

<div style="float:left;width:400px;">

<div id="profile">
	
<%= render :partial=>'users/image', :locals => { :user => @user } %>

<% unless @user.profile.nil? %>
<p><% if @user.profile.website %>
		<%= link_to @user.profile.name, @user.profile.website %><br />
	<% else %>
		<%=h @user.profile.name %><br />
	<% end %>
	<%=h @user.profile.sex %><br />
	<%=h @user.profile.zip %><br />
	<% if @user.profile.birthday %>
	  <%= age(@user.profile.birthday) %> years old<br />
	<% end %>
	<%=h @user.profile.quote %>
	<br />
	<br /> 
	<% end %>
	<% if current_user == @user %>
	<% if current_user.profile.nil?%>
		<%= link_to "create your profile", new_profile_path, :class => "link" %>
	<% else %>
	<% if current_user == @user %>
		<%= link_to "edit info", edit_profile_path, :class => "link" %>
	<% end %>
	<% end %>
	<% end %>
</p>
</div>

<div class="clear"></div>

<h2 id="<%= level(@user) %>">Stats</h2>
<table id="stats">
<tr>
  <td><strong>Level:</strong></td>
  <td><%= level(@user) %></td>
</tr>
<tr>
  <td><strong>Total Points:</strong></td>
  <td><%=h @user.points %></td>
</tr>
<tr>
  <td><strong>Offers Submitted:</strong></td>
  <td><%=h @user.campaigns.count %></td>
</tr>
<tr>
  <td><strong>Offers Rated:</strong></td>
  <td><%=h @user.votes.count %></td>
</tr>
<tr>
  <td><strong>Offers Reviewed:</strong></td>
  <td><%=h @reviews.size %></td>
</tr>
<tr>
  <td><strong>Offers Downvoted:</strong></td>
  <td><%=h @downvoted %></td>
</tr>
<tr>
  <td><strong>Comments Made:</strong></td>
  <td><%=h @commented.size %></td>
</tr>

<% if @user == current_user %>

<tr>
  <td><strong>Points Redeemed:</strong></td>
  <td><%=h @user.redeemed %></td>
</tr>

<tr>
  <td><strong>Available Points:</strong></td>
  <td><%=h @available %></td>
</tr>

<!-- <% if @available > 999 %>
<tr>
	<td><%= link_to "Redeem Points for Cash!", redeem_points_path, :class => "link" %></td>
</tr>
<% end %> -->

<% end %>

</table>

<h2 id="badges">Badges</h2>

<%= render :partial => "achievement" %>

<h2 id="comments">Comments</h2>

<% unless @user.comments.size == 0 %>

<ul id="comments">

<% @user.comments.each do |c| %>
<li>
	<%= c.message %><br />
	<% @commenter = User.find(c.commenter_id) %>
	<%= link_to @commenter.login, user_path(@commenter) %>
	<span class="date"><%= c.created_at.to_date %></span>
</li>
<% end %>

</ul>

<% else %>
<p>No Comments yet.  Leave one for <%= @user.login %> below!</p>

<% end %>

<% if current_user %>

<% form_for @comment do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <p>
    <%= f.text_field :message, :value => "Leave a New Comment...", :onfocus => "if (this.value == 'Leave a New Comment...') this.value = ''", :size => 44 %>
  </p>
  <p><%= f.submit "Leave Comment", :class => "button" %></p>
<% end %>

<% end %>

</div>

<h2 id="submitted_campaigns">Campaigns Submitted</h2>

<% if current_user == @user %>
	<%= render :partial=>'campaigns/list', :locals => { :campaign => @campaigns } %>
	<%= will_paginate @campaigns %>
<% elsif current_user && current_user.role == "admin" %>
	<%= render :partial=>'campaigns/list', :locals => { :campaign => @campaigns } %>
	<%= will_paginate @campaigns %>
<% else %>
	<%= render :partial=>'campaigns/list', :locals => { :campaign => @ten_latest } %>
<% end %>


<div class="clear"></div>

<% if current_user == @user %>
<p>
  <%= link_to "Edit Account", edit_user_path(@user) %> |
  <%= link_to "Delete Account", @user, :confirm => 'Are you sure?', :method => :delete %> |
</p> 

<% end %>


