<h2>Sponsored Deals</h2>

<ul id="sponsored">
	<% @sponsored.each do |s| %>
	<li>
		<%= link_to "#{image_tag s.business.photo.url(:thumb)}", campaign_path(s) %>
		<h3><%= link_to "#{s.business.name}", campaign_path(s) %></h3>
		<h4><%= link_to "#{s.offer}", campaign_path(s) %></h4>
	</li>
	<% end %>
</ul>

<div class="clear"></div>
	
<h2>Most Popular Deals</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @popular } %> 

<h2>Tag Cloud</h2>

<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
   <%= link_to tag.name, { :controller => 'campaigns', :action => 'index', :search => tag.name }, :class => css_class %>
 <% end %>

