<% title "Online Shopping Coupons for Groceries | SMS Text Messaging Advertising" %>
<div style="float:left;">

<h2 id="featured">Featured Deals</h2>

<ul id="sponsored">
	<% @sponsored.each do |s| %>
	<li>
		<% if s.business.photo.exists? %>
			<%= link_to "#{image_tag s.business.photo.url(:main)}", campaign_path(s) %>
		<% else %>
			<%= link_to "#{thumbnail(s)}", campaign_path(s) %>
		<% end %>
		<h3><%= link_to "#{s.business.name}", campaign_path(s) %></h3>
		<h4><%= link_to "#{s.offer}", campaign_path(s) %></h4>
	</li>
	<% end %>
</ul>

<div class="clear"></div>
	
<h2 id="most_popular">Most Popular Deals</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @popular } %>

<div class="clear"></div>

<h2>Recent Submissions</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @recent } %>

</div> 

<div style="float:left;margin:45px 0 0 100px;width:300px;">
	
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/mobhooks" width="282" show_faces="false" stream="false" header="false"></fb:like-box>
	
<% unless current_user %>
	<%= link_to "Sign Up for our Newsletter and get deals in your area!", new_newsletter_path, :class => "button affiliates" %>
<% end %>

<%= link_to "Business Owners: Want to Start Your Own Text Campaign? Click Here!", business_owners_path, :class => "button affiliates" %>

<!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->

<%= render :partial => "campaigns/tag_cloud" %>

<!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->

<!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->

<!-- Begin 160x600 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MTYweDYwMCxuPWlmcmFtZSxiPTA=?subid=default" width="160" height="600" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 160x600 -->


</div>

<div class="clear"></div>

<div style="font-size:0.8em; margin-top:25px;">
<p>Mobhooks is one shop stop for advertising text messages, popularly known as “THE FAMILY”. We focus on helping people becoming accustomed and prosper in the mobile world. To make it happen we have created a simple registration process, where you can sign up and start submitting and sharing your text offers, contests and clubs that you hear on different media channels such as television, newspaper, radio, magazines, and internet or at public places such as restaurants & bars, shopping malls, theatres etc. Using our <strong>SMS advertising</strong> service, you can save money and keep yourself informed of the latest deals and offers from your favorite makes and businesses.</p>

<p>Mobhooks <strong>SMS service providers</strong> are not a conventional company with lot of rules and regulations, instead we believe in simple yet effective processes. We have a straightforward philosophy - join us, give us <strong>text deals</strong> and earn points, badges, awards, ranks and lots of free stuff. As a member of Mobhooks family, you have to focus on <strong>SMS text messaging</strong> and need to share the best deals on our <strong>text advertising</strong> - THE FAMILY. Being a member of THE FAMILY, you will have your own identity in the defined hierarchy. With earning points, you will also achieve higher rankings in the hierarchy. The member with the highest points will be crowned as “Boss” or “Don” of Mobhooks. Moreover, the person having second most points will be chosen as an “Underboss”. A member with 5000 points will be chosen as “Capo”, with 1000 points as “Soldier” and every registered member as “Associate”. And if you refer most businesses that sign up to Mobhooks, you will be honored with the position of “Consigliere”.</p>

<p>If you want to become a prime resource in our <strong>text messaging advertising</strong> community, log on to our website at <%= link_to "www.mobhooks.com", root_path %> and register with us! Join our <strong>SMS web service</strong> family and keep texting. After all you will <strong>text to win</strong> only!</p>

<h3>More Reading</h3>

<p><%= link_to "Coupons for Restaurant Groceries", cfrg_path %></p>
<p><%= link_to "Online Discount Coupons", odc_path %></p>	
<p><%= link_to "Coupons on Mobile Deals", cmd_path %></p>

</div>