<% title "SMS Advertising - SMS Text Messaging Advertising & Marketing" %>
<div style="float:left;">

<h2 id="featured">Featured Deals</h2>

<div id="widget">
	<img src="<%= @read[0][7].text %>" />
	<h1><%= @read[0][1].text %></h1>
	<div class="clear"></div>
	<div id="price">$<%= @read[0][17].text %>0</div>
	<div id="savings">Save $<%= @read[0][21].text %>0, <%= link_to "Buy Now!", "http://steals.mobhooks.com/publishers/mobhooks/deal-of-the-day" %></div>
</div>

<div class="clear"></div>
	
<h2 id="most_popular">Most Popular Deals</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @popular } %>

<div class="clear"></div>

<h2>Recent Submissions</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @recent } %>

</div> 

<div style="float:left;margin:45px 0 0 100px;width:300px;">
	
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/mobhooks" width="282" show_faces="false" stream="false" header="false"></fb:like-box>
	
<% unless current_user %>
	<%= link_to "Sign Up for our Newsletter and get deals in your area!", new_newsletter_path, :class => "button affiliates" %>
<% end %>

<!-- <%= link_to "Business Owners: Want to Start Your Own Text Campaign? Click Here!", business_owners_path, :class => "button affiliates" %> -->

<!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->

<%= render :partial => "campaigns/tag_cloud" %>

<!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->

<!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->

<!-- Begin 160x600 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MTYweDYwMCxuPWlmcmFtZSxiPTA=?subid=default" width="160" height="600" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 160x600 -->


</div>

<div class="clear"></div>

<div style="font-size:0.8em; margin-top:25px;">
<p>MobHooks is a sharing community for advertising text messages, popularly known as “THE FAMILY”. We focus on helping people learn how to save money in the mobile world. To make sharing easy, we have created a simple registration process where you can sign up and start submitting and sharing text offers, contests and clubs that you find in different media outlets such as television, newspaper, radio, magazines, internet or in public places such as restaurants, bars, shopping malls, theatres etc. Using our SMS advertising service, you can save money and keep yourself informed about the latest deals and offers from your favorite brands and businesses.</p>

<p>MobHooks is not a conventional company with a lot of rules and regulations like other SMS service providers. Instead, we believe in simple yet effective processes. We have a straightforward philosophy – register with us, give us text deals and earn points, badges, rewards, rankings and lots of other free stuff. As a member of MobHooks family, you have to focus on SMS text messaging and need to share the best deals on our text advertising - THE FAMILY. By becoming a member of THE FAMILY, you will have your own profile in the mafia hierarchy. While earning points, you will achieve higher rankings in the mob hierarchy. The member with the highest points will be crowned as “Boss” or “Don” of Mobhooks. The person having second most points will be chosen as an “Underboss”. Any member with 5000 points, will be chosen as  “Capo”, with 1000 points as “Soldier” and every registered member as “Associate”. And if you refer most businesses that sign up to Mobhooks, you will be honored with the position of the “Consigliere”.</p>

<p>If you want to become a family member in our text messaging advertising community, log on to our website at <%= link_to "www.Mobhooks.com", root_path %> and register with us! Join our SMS web service family and keep texting. You may get lucky and text to win!</p>


<h3>More Reading</h3>

<p><%= link_to "Coupons for Restaurant Groceries", cfrg_path %></p>
<p><%= link_to "Online Discount Coupons", odc_path %></p>	
<p><%= link_to "Coupons on Mobile Deals", cmd_path %></p>

</div>