<% title "Home" %>
<div style="float:left;">

<h2 id="featured">Featured Deals</h2>

<ul id="sponsored">
	<% @sponsored.each do |s| %>
	<li>
		<% if s.business.photo.exists? %>
			<%= link_to "#{image_tag s.business.photo.url(:main)}", campaign_path(s) %>
		<% else %>
			<%= link_to "#{thumbnail(s)}", campaign_path(s) %>
		<% end %>
		<h3><%= link_to "#{s.business.name}", campaign_path(s) %></h3>
		<h4><%= link_to "#{s.offer}", campaign_path(s) %></h4>
	</li>
	<% end %>
</ul>

<div class="clear"></div>
	
<h2 id="most_popular">Most Popular Deals</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @popular } %>

<div class="clear"></div>

<h2>Recent Submissions</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @recent } %>

</div> 

<div style="float:left;margin:45px 0 0 100px;width:300px;">
	
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/mobhooks" width="282" show_faces="false" stream="false" header="false"></fb:like-box>
	
<% unless current_user %>
	<%= link_to "Sign Up for our Newsletter and get deals in your area!", new_newsletter_path, :class => "button affiliates" %>
<% end %>

<%= link_to "Business Owners: Want to Start Your Own Text Campaign? Click Here!", business_owners_path, :class => "button affiliates" %>

<%= render :partial => "campaigns/tag_cloud" %>

<!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->

<!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->

<!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->

<!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Wide Skyscraper - 160 x 600 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=7;w=160;h=600" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=160 height=600></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Wide Skyscraper - 160 x 600 -->


</div>

<div class="clear"></div>