<% title "New Affiliate" %>

<h2>Business Owners: Submit Your Info</h2>
<h3>A member of the MobHooks team will contact you soon <br />
to allow you access to your business page on mobhooks,<br />
which allows you custom controls including custom images.</h3>

<% form_for @affiliate do |f| %>
  <%= f.error_messages %>
  <p>
    <h3 style="margin:0;">Your Name:</h3>
    <%= f.text_field :name, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Business Name:</h3>
    <%= f.text_field :business_name, :value => params[:business_name], :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Full Business Address:</h3>
    <%= f.text_field :address, :value => params[:business_address], :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Phone Number:</h3>
    <%= f.text_field :phone_number, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Email Address:</h3>
    <%= f.text_field :email, :class => "large_form" %>
  </p>
  <p><%= f.submit "Submit", :class => 'button' %></p>
<% end %>
