<% title "New Affiliate" %>

<h2>Affiliate Program: Submit Your Info</h2>
<h3>A member of the Mobhooks team will contact you soon <br />
with more info about your interest in becoming an affiliate.</h3>

<% form_for @affiliate do |f| %>
  <%= f.error_messages %>
  <p>
    <h3 style="margin:0;">Your Name:</h3>
    <%= f.text_field :name, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Business Name:</h3>
    <%= f.text_field :business_name, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Full Business Address:</h3>
    <%= f.text_field :address, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Phone Number:</h3>
    <%= f.text_field :phone_number, :class => "large_form" %>
  </p>
  <p>
    <h3 style="margin:0;">Email Address:</h3>
    <%= f.text_field :email, :class => "large_form" %>
  </p>
  <p><%= f.submit "Submit", :class => 'button' %></p>
<% end %>
