<p style="margin:0;">

<%= image_tag @campaign.photo.url(:show) %>

</p>

<h2 class="campaign_details_header">
	Website:
	<% unless @campaign.business.url.nil? %>
	<span class="campaign_description"><%= link_to "#{@campaign.business.url}", @campaign.business.url %>
	<% else %>
	<span class="campaign_description">
		<%= link_to "Click to add the website for this business.", edit_business_path(@campaign.business), :class => "link", :style => "font-size:18px;" %>
	<% end %>
</h2>

<h2 class="campaign_details_header">
	Type:
	<span class="campaign_description"><%=h @campaign.kind %></span>
</h2>

<h2 class="campaign_details_header">
	Tags:
	<span class="campaign_description">
		<% unless @campaign.tag_list.empty? %>
			<% @campaign.tag_counts.each do |tag| %>
				<%= link_to tag.name, { :controller => 'campaigns', :action => 'index', :search => tag.name }, :class => "link", :style => "font-size:18px;" %>
			<% end %>
		<% end %>
	</span>
</h2>

<h2 class="campaign_details_header">Details:</h2>
	<% if @campaign.details? %>
		<span class="campaign_description"><%=h @campaign.details %></span><br />
		<span class="campaign_description">Offer may not be valid at all locations.</span>
	<% else %>
		<span class="campaign_description">Offer may not be valid at all locations.</span>
	<% end %>

<p>
  <strong>Submitted by:</strong>
  <%= link_to @campaign.user.login, user_path(@campaign.user) %>
</p>

<% if current_user == @campaign.user %>
<p>
  <%= link_to "Edit", edit_campaign_path(@campaign) %> |
  <%= link_to "Delete", @campaign, :confirm => 'Are you sure?', :method => :delete %>
</p>

<% end %>
	
</div>
