<% unless campaign.nil? %>
<ul id="campaign_list">
<% campaign.each do |c| %>
<li>
	<%= link_to "#{image_tag c.business.photo.url(:main)}", campaign_path(c) %>
	<div class="campaign_titles">
		<h3><%= link_to "#{c.business.name}", campaign_path(c) %></h3>
		<h4><%= link_to "#{c.offer}", campaign_path(c) %></h4>
	</div>
	
	<div class="campaign_list_right">
		<%= render :partial => "campaigns/score", :locals => { :campaign => c } %>
		<p class="button"><%= link_to "View Deal", campaign_path(c) %></p>
	</div>
</li>
<div class="clear"></div>

<% end %>
</ul>
<% end %>