<% unless campaign.nil? %>
<ul id="campaign_list">
<% campaign.each do |c| %>
<li>
	<% if c.business.photo? %>
		<%= link_to "#{image_tag c.business.photo.url(:main)}", campaign_path(c) %>
	<% else %>
		<%= link_to "#{thumbnail(c)}", campaign_path(c) %>
	<% end %>
	<div class="campaign_titles">
		<h3><%= link_to "#{c.business.name}", campaign_path(c) %></h3>
		<h4><%= link_to "#{c.offer}", campaign_path(c) %></h4>
	</div>
	
	<div class="campaign_list_right">
		<%= render :partial => "campaigns/score", :locals => { :campaign => c } %>
		<h3 id="votes_count" style="margin: 3px 0 0 0;">
			<span id="votes_for" style="color:#00ff00"><%= image_tag "votes_up.gif", :style => "float:none;" %><%= c.votes_for %></span>
			<span id="votes_against" style="color:#ff0000"><%= image_tag "votes_down.gif", :style => "margin-top:3px;position:relative;top:6px; float:none;" %><%= c.votes_against %></span>
		</h3>
		<p class="button" style="margin:3px 0 0 0;"><%= link_to "View Offer", campaign_path(c) %></p>
	</div>
</li>
<div class="clear"></div>

<% end %>
</ul>
<% end %>