<% title "Campaigns" %>

<h2>Campaign Admin</h2>

<table>
  <tr>
    <th>User</th>
    <th>Business</th>
    <th>Offer</th>
    <th>Shortcode</th>
    <th>Keyword</th>
    <th>Type</th>
  </tr>
  <% for campaign in @campaigns %>
    <tr>
      <td><%=h campaign.user.login %></td>
      <td><%=h campaign.business.name %></td>
      <td><%=h campaign.offer %></td>
      <td><%=h campaign.shortcode %></td>
      <td><%=h campaign.keyword %></td>
      <td><%=h campaign.kind %></td>
      <td><%= link_to "View", campaign %></td>
      <td><%= link_to "Edit", edit_campaign_path(campaign) %></td>
      <td><%= link_to "Delete", campaign, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

