<% title "Campaigns" %>

<h2 id="campaigns">Campaigns</h2>

<% unless @zip.nil? && (params[:near] == "" || params[:near] == "near...") %>
<p>Within: </p>
<%= link_to "1 mile", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 1 %><br />
<%= link_to "5 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5 %><br />
<%= link_to "25 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 25 %><br />
<%= link_to "100 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 100 %><br />
<%= link_to "unlimited", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5000 %>
<% end %>	

<p><%= link_to "Submit a New Campaign", new_campaign_path, :class => "button", :style => "font-size:24px;" %></p>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @campaigns } %>

<%= render :partial => "campaigns/tag_cloud" %>

<div class="clear"></div>