<% title "Campaigns" %>

<h2 id="campaigns">Campaigns</h2>

<% if params[:search] %>
<h3>Your search '<%= params[:search] %>' yielded <%= @campaigns.count %> results</h3>
<% end %>

<% unless @campaigns.size == 0 %>

<% unless @zip.nil? %>
<% if params[:near] %>
<% unless params[:near] == "" %>
<p>Within: 
<%= link_to "1 mile", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 1 %> | 
<%= link_to "5 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5 %> | 
<%= link_to "25 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 25 %> | 
<%= link_to "100 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 100 %> | 
<%= link_to "unlimited", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5000 %>
</p>
<% end %>
<% end %>
<% end %>	

<p><%= link_to "Submit a New Campaign", new_campaign_path, :class => "button", :style => "font-size:24px;" %></p>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @campaigns } %>

<%= render :partial => "campaigns/tag_cloud" %>

<div style="float:right; margin-top:20px;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2919877323911591";
/* Mobhooks */
google_ad_slot = "6421093481";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<% else %>

<p>Within: 
<%= link_to "1 mile", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 1 %> | 
<%= link_to "5 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5 %> | 
<%= link_to "25 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 25 %> | 
<%= link_to "100 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 100 %> | 
<%= link_to "unlimited", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5000 %>
</p>

<h2> No results for '<%= params[:search] %>'. Try a wider search area.

<p><%= link_to "Submit a New Campaign", new_campaign_path, :class => "button", :style => "font-size:24px;" %></p>

<div id="tag_cloud" style="float:left !important;">
<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
   <%= link_to tag.name, { :controller => 'campaigns', :action => 'index', :search => tag.name }, :class => css_class %>
 <% end %>
</div>

<% end %>

<div style="float:right;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2919877323911591";
/* Mobhooks */
google_ad_slot = "6421093481";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="clear"></div>