<% title "Campaigns" %>

<h2 id="campaigns">Campaigns</h2>

<% if params[:search] %>
<h3>Your search '<%= params[:search] %>' yielded <%= @campaigns.count %> results</h3>
<% end %>

<% unless @campaigns.size == 0 %>

<% unless @zip.nil? %>
<% if params[:near] %>
<% unless params[:near] == "near..." %>
<p>Within: 
<%= link_to "1 mile", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 1 %> | 
<%= link_to "5 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5 %> | 
<%= link_to "25 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 25 %> | 
<%= link_to "100 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 100 %> | 
<%= link_to "unlimited", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5000 %>
</p>
<% end %>
<% end %>
<% end %>	

<p><%= link_to "Submit a New Campaign", new_campaign_path, :class => "button", :style => "font-size:24px;" %></p>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @campaigns } %>

<%= render :partial => "campaigns/tag_cloud" %>

<% else %>

<p>Within: 
<%= link_to "1 mile", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 1 %> | 
<%= link_to "5 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5 %> | 
<%= link_to "25 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 25 %> | 
<%= link_to "100 miles", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 100 %> | 
<%= link_to "unlimited", :controller => 'campaigns', :action => "index", :search => params[:search], :near => params[:near], :distance => 5000 %>
</p>

<div id="tag_cloud" style="float:left !important;">
<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
   <%= link_to tag.name, { :controller => 'campaigns', :action => 'index', :search => tag.name }, :class => css_class %>
 <% end %>
</div>

<% end %>

<div class="clear"></div>