<% title "Campaign" %>

<h2>Rating</h2>
<h2 id="score_percentage"><%= score_percentage(@campaign) %>%</h2>
<h3><span id="votes_for"><%= @campaign.votes_for %> upvotes</span><br />
<span id="votes_against"><%= @campaign.votes_against %> downvotes</span></h3>

<% if current_user %>
<div id="voting">
	<% unless current_user.voted_for?(@campaign) %>
		<%= link_to_remote "+ Vote Up", :url => { :controller => 'campaigns', :action => 'vote_up', :campaign => @campaign } %>
		<%= link_to_remote "- Vote Down", :url => { :controller => 'campaigns', :action => 'vote_down', :campaign => @campaign } %>
	<% else %>
		You voted on this campaign.
	<% end %>	
</div>
<% end %>

<%= link_to "view / write reviews (#{@campaign.reviews.count})", campaign_reviews_path(@campaign) %>

<h2>Share</h2>
<p><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= request.url %>" show_faces="true" width="450"></fb:like>
<br />
<a href="http://twitter.com/home?status=I found this mobile deal on Mobhooks, check it out! <%= request.url %>" title="Click to send this page to Twitter!" target="_blank">Share on Twitter</a></p>

<h2>Campaign Details</h2>

<% if current_user %>
<p>
	<strong>Distance:</strong>
	<%= pluralize(@distance, "mile") %>
</p>
<% end %>
<p>
  <strong>Latitude:</strong>
  <%=h @campaign.lat %>
</p>
<p>
  <strong>Longitude:</strong>
  <%=h @campaign.lng %>
</p>

<p>
	<%= image_tag @campaign.photo.url(:show) %>
</p>
<p>
  <strong>User:</strong>
  <%= link_to @campaign.user.login, user_path(@campaign.user) %>
</p>
<p>
  <strong>Business:</strong>
  <%= link_to @business.name, business_path(@business) %>
</p>
<p>
  <strong>Offer:</strong>
  <%=h @campaign.offer %>
</p>
<p>
  <strong>Shortcode:</strong>
  <%=h @campaign.shortcode %>
</p>
<p>
  <strong>Keyword:</strong>
  <%=h @campaign.keyword %>
</p>
<p>
  <strong>Start Date:</strong>
  <%=h @campaign.start_date.to_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%=h @campaign.end_date.to_date %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @campaign.kind %>
</p>
<% unless @campaign.tag_list.empty? %>
<p>
	<strong>Tags:</strong>
	<%= h @campaign.tag_list %>
</p>
<% end %>
<p>
  <strong>Details:</strong>
  <%=h @campaign.details %>
</p>

<h2>Map</h2>
	<%= @map.div(:width => 540, :height => 200) %>

<% unless @related.nil? %>
<h2>Related Deals</h2>
<ul>
<% @related.each do |c| %>
<li>
	<%= image_tag c.business.photo.url(:tiny) %>
	<%= c.business.name %><br />
	<%= c.offer %>
	<%= link_to "View Deal", campaign_path(c) %>
	<%= c.created_at.to_date %>
</li>
<% end %>
</ul>
<% end %>

<p>
  <%= link_to "Edit", edit_campaign_path(@campaign) %> |
  <%= link_to "Destroy", @campaign, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", campaigns_path %>
</p>
