<% title "Mobile Campaign - #{@campaign.business.name} - #{@campaign.offer}" %>

<div style="float:left;width:410px;">
	
	<h2 id="business_name"><%= link_to "#{@campaign.business.name}", business_path(@campaign.business) %></h2>

	<p><%= link_to "#{image_tag @campaign.business.photo.url(:main)}", business_path(@campaign.business), :style => "margin-left: 10px; float:left;"  %>
		
		<span class="button" style="float:left;margin: 30px 0 0 10px;"><%= link_to "Own this business? Click here!", :controller => "affiliates", :action => "new", :business_name => @campaign.business.name, :business_address => "#{@campaign.business.address} #{@campaign.business.city} #{@campaign.business.state} #{@campaign.business.zip}" %></span></p>
	
	<div class="clear"></div>

	<%= link_to "view all #{@campaign.business.name} campaigns", business_path(@campaign.business), :class => "link", :style => "margin: 10px; float:left;"  %>
	<br/ >
	<% unless @campaign.business.photo.exists? %>
		<%= link_to "Upload the logo for #{@campaign.business.name} for 5 points!", edit_business_path(@campaign.business), :class => "link", :style => "margin: 10px; float:left;" %>
	<% end %>
	
	<div class="clear"></div>

<h2 style="margin: 25px 0 0;">Rating</h2>

<div id="votes">
	<%= render :partial => "campaigns/score", :locals => { :campaign => @campaign } %>
	
	<h3 id="votes_count">
		<span id="votes_for" style="color:#00ff00"><%= image_tag "votes_up.gif" %><%= @campaign.votes_for %></span><br />
		<span id="votes_against" style="color:#ff0000"><%= image_tag "votes_down.gif", :style => "margin-top:3px;position:relative;top:6px;" %><%= @campaign.votes_against %></span>
	</h3>
</div>

<% if current_user %>
<div id="voting">
	<% unless current_user.voted_for?(@campaign) || current_user.voted_against?(@campaign) %>
		<%= link_to_remote "this deal worked for me.", :url => { :controller => 'campaigns', :action => 'vote_up', :campaign => @campaign }, :html => { :id => "vote_up" } %><br />
		<%= link_to_remote "this deal did not work.", :url => { :controller => 'campaigns', :action => 'vote_down', :campaign => @campaign }, :html => { :id => "vote_down" } %>
	<% end %>	
</div>
<% end %>

<div class="clear"></div>

<h2 id="reviews">Reviews</h2>

<% unless @campaign.reviews.size == 0 %>

<ul id="comments">

<% @campaign.reviews.each do |c| %>
<li>
	<%= c.message %><br />
	<% @reviewer = User.find(c.reviewer_id) %>
	<%= link_to @reviewer.login, user_path(@reviewer) %>
	<span class="date"><%= c.created_at.to_date %></span>
</li>
<% end %>

</ul>
<div class="clear"></div>
<%= link_to "view all reviews (#{@campaign.reviews.count})", campaign_reviews_path(@campaign), :class => "link", :style => "margin-left: 10px;" %>

<% else %>
<div class="clear"></div>
<%= link_to "no reviews yet. be the first, click here!", campaign_reviews_path(@campaign), :class => "link", :style => "margin: 0;" %>

<% end %>

<% unless @related.nil? %>
<h2 style="margin:25px 0 0;" >Similar Offers</h2>
<ul id="similar">
<% @related.each do |c| %>
<li>
	<%= link_to "#{image_tag c.business.photo.url(:tiny)}", campaign_path(c) %>
	<div style="float:left;margin:-3px 0 0 20px;width:150px;">
		<h4><%= link_to c.business.name, campaign_path(c) %></h4>
		<h5><%= link_to c.offer, campaign_path(c) %></h5>
	</div>
	<%= link_to "View Offer", campaign_path(c), :class => "button", :style => "float:right; font-size: 12px;margin-top:5px;" %>
	<div class="clear"></div>
</li>
<% end %>
</ul>
<% end %>

<div style="float: left;"><!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
</div>

</div>

<div style="float:left;width:520px;">

<h2 id="offer"><%=h @campaign.offer %></h2>

<h2 class="button" style="min-width:350px; margin: 20px 0;text-align:center; cursor:default;">Text "<%=h @campaign.keyword %>" to <%=h @campaign.shortcode %></h2>

<p>
	<span style="margin:2px 10px 0 0;float:left;"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
	
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= request.url %>" show_faces="true" width="450"></fb:like>
</p>

<% if @campaign.business.kind == "local" %>
	<%= render :partial => "local" %>
<% elsif @campaign.business.kind == "brand" %>
	<%= render :partial => 'brand' %>
<% elsif @campaign.business.kind == "chain" %>
	<%= render :partial => 'chain' %>
<% else %>
No campaign meta-data.
<% end %>

<div class="clear"></div>