<% title "Reviews" %>

<h2>Reviews for <%= @campaign.offer %> from <%= @campaign.business.name %></h2>

<ul id="campaign_reviews">

<% @campaign.reviews.each do |r| %>
<li>
	<h3 style="font-size:24px;"><%= r.message %></h3>
	<% @reviewer = User.find(r.reviewer_id) %>
	<h3><%= link_to @reviewer.login, user_path(@reviewer) %> <span style="font-size:12px;font-weight:normal"><%= r.created_at.to_date %></span></h3>
	
</li>

<% end %>

<% if current_user %>
<% unless reviewed?(@campaign) %>
<% form_for @review do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag(:campaign_id, @campaign.id) %>
  <p>
    <%= f.text_field :message, :value => "Leave a New Review...", :onfocus => "if (this.value == 'Leave a New Review...') this.value = ''", :size => 44 %>
  </p>
  <p><%= f.submit "Submit Review", :class => "button" %></p>
<% end %>
<% else %>
<h3>You've already reviewed this campaign.</h3>
<% end %>
<% else %>
<h3>You must be <%= link_to "logged in", login_path, :class => 'link' %> to review this campaign.</h3>
<% end %>

</ul>

<div style="float: right;"><!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
</div>
<div class="clear"></div>