<% title "Reviews" %>

<h2>Reviews for <%= @campaign.offer %> from <%= @campaign.business.name %></h2>

<ul id="campaign_reviews">

<% @campaign.reviews.each do |r| %>
<li>
	<h3 style="font-size:24px;"><%= r.message %></h3>
	<% @reviewer = User.find(r.reviewer_id) %>
	<h3><%= link_to @reviewer.login, user_path(@reviewer) %> <span style="font-size:12px;font-weight:normal"><%= r.created_at.to_date %></span></h3>
	
</li>

<% end %>

<% if current_user %>
<% unless reviewed?(@campaign) %>
<% form_for @review do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag(:campaign_id, @campaign.id) %>
  <p>
    <%= f.text_field :message, :value => "Leave a New Review...", :onfocus => "if (this.value == 'Leave a New Review...') this.value = ''", :size => 44 %>
  </p>
  <p><%= f.submit "Submit Review", :class => "button" %></p>
<% end %>
<% else %>
<h3>You've already reviewed this campaign.</h3>
<% end %>
<% else %>
<h3>You must be <%= link_to "logged in", login_path, :class => 'link' %> to review this campaign.</h3>
<% end %>

</ul>

<div style="float: right;"><!-- Begin 300x250 | BaronsMedia | MobHooks ROS | MobHooks ROS -->
<iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0xMzg0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- End 300x250 -->
</div>
<div class="clear"></div>