<% title "Login" %>

<h2>Login</h2>

<div style="float:left;">

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <h3 style="margin:0;">Username:</h3>
    <%= f.text_field :login %>
  </p>
  <p>
    <h3 style="margin:0;">Password:</h3>
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Login", :class => 'button' %></p>
<% end %>

<p style="margin-top:50px;"><%= link_to "Forgot your password?", reset_password_path, :class => 'link' %></p>

<p style="margin-top:25px;"><%= link_to "No Username? Sign Up here!", new_user_path, :class => 'link' %></p>

</div>

<div style="float:right;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2919877323911591";
/* Mobhooks */
google_ad_slot = "6421093481";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="clear"></div>