<% form_for @location do |f| %>
  <%= f.error_messages %>
	<%= hidden_field_tag(:business_id, @business.id) %>
  <p>
	<h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Location Address:</h3>
    <%= f.text_field :address, :class => "large_form" %>
  </p>
  <p>
	<h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>City:</h3>
    <%= f.text_field :city, :class => "large_form" %>
  </p>
  <p>
	<h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>State:</h3>
    <%= f.text_field :state, :class => "large_form" %>
  </p>
  <p>
	<h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Location Address:</h3>
    <%= f.text_field :zip, :class => "large_form" %>
  </p>
  <p><%= f.submit "Submit Location", :class => 'button', :style => "font-size:24px;" %></p>
<% end %>