<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MobHooks - <%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'prototip' %>
	<% if params[:controller] == "campaigns" && params[:action] == "show" %>
		<% if @campaign.business.photo.exists? %>
			<link rel="image_src" href="<%= @campaign.business.photo.url(:main) %>" />
		<% else %>
			<link rel="image_src" href="http://www.mobhooks.com/images/share.jpg" />
		<% end %>
	<% else%>
		<link rel="image_src" href="http://www.mobhooks.com/images/share.jpg" />
	<% end %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'prototip' %>
    <%= yield(:head) %>
	<% if params[:controller] == "campaigns" && params[:action] == "show" && !@map.nil? %>
		<%= GMap.header %>
		<%= @map.to_html %>
	<% end %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21462046-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>
  <% if params[:controller] == "home" %>
  	<body id="home">
	<% else %>
		<body>
	<% end %>
	 <div id="container">
	<div id="contest">
	 <h1 id="title"><%= link_to "MobHooks", root_path %></h1>
	<% if params[:controller] == "home" && params[:action] == "index" %>
		<%= link_to "#{image_tag "contest-splash.gif"}", thefamily_path, :class => "contest_gif" %>
	<% else %>
		<%= link_to "#{image_tag "contest.gif"}", thefamily_path, :class => "contest_gif" %>
	<% end %>
	</div>
	

		<ul id="nav">
		  <% if current_user %>
		  	<li><%= link_to "Submit Offer", new_campaign_path %></li>
			<li><%= link_to "Offers", campaigns_path %></li>
			<li><%= link_to "Printable Coupons", printable_coupons_path %></li>
			<li><%= link_to "The Family", thefamily_path %></li>
			<li><%= link_to "Profile", user_path(current_user) %></li>
			<li><%= link_to "Logout", logout_path %></li>
		  <% else %>
		  	<li><%= link_to "Submit Offer", new_campaign_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Printable Coupons", printable_coupons_path %></li>
			<li><%= link_to "Offers", campaigns_path %></li>
			<li><%= link_to "The Family", thefamily_path %></li>
			<li><%= link_to "Register", new_user_path %></li>
			<li><%= link_to "Login", login_path %></li>
		  <% end %>
		</ul>
		<div class="clear"></div>
		<% if params[:controller] == "home" %>
			<div id="splash_search">
		<% else %>
			<div id="search">
		<% end %>
		<% form_tag campaigns_path, :method => 'get' do %>
		<% unless params[:controller] == "campaigns" && params[:action] == "printable_coupons"%>
				<span id="search_field">
		    <%= text_field_tag :search, params[:search], :value => "Search for an Offer...", :onfocus => "if (this.value == 'Search for an Offer...') this.value = ''" %><% if params[:controller] == "home" %>
		    <% end %>
		    <p>ex: shoes, best buy, electronics.</p>
		    </span>
		    <span id="near_field">
			
				<% @ip_addr = "#{request.remote_ip}" %>
				<% @location_geocode = Geokit::Geocoders::MultiGeocoder.geocode(@ip_addr) %>
				<% @location = "#{@location_geocode.city}, #{@location_geocode.state}" %>
			
		    <% unless current_user %>
		    <%= text_field_tag :near, params[:near], :value => "#{@location}", :onfocus => "if (this.value == 'near...') this.value = ''" %><p>enter city, state, or zip</p>
		    <% else %>
		    <% unless current_user.profile.nil? || current_user.profile.zip.nil? %>
		    <%= text_field_tag :near, params[:near], :value => "#{current_user.profile.zip}", :onfocus => "if (this.value == 'near...') this.value = ''" %><p>enter city, state, or zip</p>
		    <% else %>
		    <%= text_field_tag :near, params[:near], :value => "#{@location}", :onfocus => "if (this.value == 'near...') this.value = ''" %><p>enter city, state, or zip</p>
		    <% end %>
		    <% end %>
		    </span>
		    <%= submit_tag "Search", :name => nil, :class => "button", :id => "search_submit" %>
		<% end %>
		
		<% end %>
		</div>
		
		<div class="clear"></div>
	
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <!--<%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%> -->

      <%= yield %>


			<div style="margin:25px auto;width:728px">
			<!-- Iframe tag: -->
			<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Super Banner - 728 x 90 -->
			<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=14;w=728;h=90" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=728 height=90></iframe>
			<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Super Banner - 728 x 90 -->
			</div>
    </div>
    <div id="footer_container">
    <ul id="footer">
    	<li><%= link_to "©2010 MobHooks", root_path %></li>
	    <li><%= link_to "Terms of Service", terms_path %></li>
	    <li><%= link_to "Privacy Policy", privacy_path %></li>
	    <li><%= link_to "About MobHooks", about_path %></li>
	    <li><%= link_to "FAQ", faq_path %></li>
	    <li><%= link_to "Submit Offer", new_campaign_path %></li>
	    <li><%= link_to "Business Owners", business_owners_path %></li>
	    <li><a href="mailto:ryan.macinnes@gmail.com">Contact</a></li>
		</ul>
		</div>
			
  </body>
</html>
